<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Mugz Shop</title>
    <style>
        a{
            text-decoration: none;
            color: white;
        }
        a:hover {
            text-decoration: none;
            color: rgb(255,255,255,0.5)
        }
        span {
            padding-right: 1rem;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('shop') }}">Mugz Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ url_for('shop') }}">Shop</a>
            </li>
          </ul>
          <span >
            <a href="{{ url_for('account') }}">Account</a>
          </span>
          <span>
            <a href="{{ url_for('logout') }}">Logout</a>
          </span>
        </div>
    </nav>
    <br>
    <br>
    <div class="container text-center">
        {% for item in data %}
                <h2 class="text-center">{{ item[1] }}</h2>
        {% endfor %}
    </div>
    <br>
    <div class="container text-center">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert-danger alert">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container text-center">
        <form method="POST" action="">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Item ID</th>
                        <th class="text-center">Item Name</th>
                        <th class="text-center">Item Price</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td class="text-center">{{ item[0] }}</td>
                            <td class="text-center">{{ item[1] }}</td>
                            <td class="text-center">{{ item[2] }}</td>
                            <td class="text-center">
                                    <input type="number" name="quantity" value="1" id="typeNumber" class="form-outline form-control" min="1"/>
                            </td>
                            <td><button type="submit" class="btn btn-primary">Submit</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    
</body>
</html>